html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    font-display: fallback;
    background-color: #000000;
    font-size: 18px;
 }

body {
    max-width: 80%;
	margin: 0 auto !important;
	float: none !important;
	text-align: center;
    color: #abaaaa;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

#name a:link, #name a:visited{
    text-align: center;
    color: #5f5f5f;
    font-size: 100px;
    text-decoration: none;
    text-transform: lowercase;
}

#nav {
    margin-bottom:4em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li{
    display: inline;
}

#nav a, #name a {
    font-weight: normal;
}

#nav a:link, #nav a:visited{
    font-size: 25px;
	text-decoration: none;
	color: #b5b4b4;
    padding: 4px;
}

#nav a:hover, #nav a:active{
    color: #FFFFFF;
    transition: .5s ease;
}

#nav a.selected{
    color: #FFFFFF;
}

#nav a.selected:hover{
    color: #FFFFFF;
}

#content {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 15px;
    text-decoration: none;
    color: #abaaaa;
    text-align: left;
}

img.center{
    padding-top: 40px;
    padding-bottom: 35px;
    display: block;
    margin: 0 auto;
}

.header {
    font-size: 55px;
}

.section {
    margin-bottom: 4em;
    display: inline-block;
    width: 100%;
}

.left-align {
    text-align: left;
}

body a:link, body a:visited{
    color: #d49181;
    text-decoration: none;
    font-weight: bold;
}

body a:hover, body a:active{
    color: #ffcabd;
}

.text-pink {
    color: #9C3E50;
}

.smaller-header {
    font-size: 25px;
}

.indented {
    margin-left: 1.5em;
}

.course {
    margin-bottom: 1em;
}

.container {
    transition: .8s;
}

#footer {
    color: #5f5f5f;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.emphasize-title {
    color: #af8a6e;
}

.contact-icons {
    font-size: 25px;
}

.icon {
    margin-left: .33em;
}

.work-details {
    float:left;
    width:80%;
}

.work-img {
    padding-top: 1em;
}

.emphasize {
    color: #ffa662;
    font-size: 20px;
    font-weight: bold;
}

.emphasize-secondary {
    color:#b7848d;
    font-weight: bold;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h3 {
    font-size: 18px;
}

.self-portrait {
    height: 350px;
    transition: .8s;
}

figure {
    margin: 2em 0;
}

figcaption {
    font-size: 14px;
}

.location {
    font-size: 80%;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?hsbwe7');
    src:  url('fonts/icomoon.eot?hsbwe7#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?hsbwe7') format('truetype'),
      url('fonts/icomoon.woff?hsbwe7') format('woff'),
      url('fonts/icomoon.svg?hsbwe7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-embed2:before {
    content: "\ea80";
  }
  .icon-github:before {
    content: "\eab0";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  